asgiref==3.8.1
boto3==1.40.3
botocore==1.40.3
cfgv==3.4.0
distlib==0.4.0
Django==5.0.6
django-storages==1.14.6
filelock==3.18.0
gunicorn==23.0.0
identify==2.6.12
jmespath==1.0.1
nodeenv==1.9.1
packaging==25.0
pillow==10.3.0
platformdirs==4.3.8
pre_commit==4.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
s3transfer==0.13.1
six==1.17.0
sqlparse==0.5.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.33.1
