{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Tra cứu hoá đơn 24/7{% endblock %}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'build/main.css' %}" />
  {% block extra_css %}{% endblock %}
</head>
<body class="font-sans min-h-screen m-0 text-slate-700 bg-gray-50">
  {% block content %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.14.0/dist/cdn.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.0/cdn.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
