<div class="bg-white rounded-xl shadow-sm mt-2">
  <div class="px-6 py-4 border-b border-gray-300 flex items-center justify-between gap-2">
    <h2 class="text-lg font-semibold text-slate-800">Danh sách hoá đơn</h2>
    {% include "components/form/text_button.html" with icon="components/icons/add.html" text="Thêm mới" class="!w-fit !h-[38px] px-2 text-sm" on_click="openAddForm" %}
  </div>

  {% with th_class="px-6 py-3 text-left text-xs text-nowrap font-bold text-slate-700 uppercase tracking-wider" td_class="px-6 py-4 whitespace-nowrap text-sm text-slate-700" %}
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead class="bg-gray-100 border-b border-gray-300">
          <tr>
            <th class="{{ th_class }}">Mã hoá đơn</th>
            <th class="{{ th_class }} hidden lg:table-cell">Mô tả</th>
            <th class="{{ th_class }} hidden sm:table-cell">Ngày giờ tạo</th>
            <th class="{{ th_class }} hidden md:table-cell">Ảnh</th>
            <th class="{{ th_class }}"></th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <template x-if="receipts.length === 0">
            <tr>
              <td colspan="5" class="{{ td_class }} text-center">Chưa có hoá đơn nào</td>
            </tr>
          </template>

          <template x-for="item in receipts" :key="item.id">
            <tr class="odd:bg-slate-50 hover:bg-slate-100 transition-colors">
              <td class="{{ td_class }} font-medium" x-text="item.code"></td>
              <td
                class="{{ td_class }} overflow-hidden text-ellipsis max-w-xs hidden lg:table-cell"
                x-text="item.description || '-' "
                :title="item.description"
              ></td>
              <td class="{{ td_class }} hidden sm:table-cell" x-text="item.created_at"></td>
              <td class="{{ td_class }} hidden md:table-cell">
                <button class="text-primary font-medium hover:underline" @click="openImageModal(item.image_url)" x-text="item.image_name"></button>
              </td>
              <td class="{{ td_class }}">
                {% include "components/form/icon_button.html" with icon="components/icons/image.html" on_click="openImageModal(item.image_url)" class="hover:text-primary block md:hidden" %}
                {% include "components/form/icon_button.html" with icon="components/icons/edit.html" on_click="openEditForm(item)" class="text-slate-700 hover:text-primary" %}
                {% include "components/form/icon_button.html" with icon="components/icons/delete.html" on_click="deleteReceipt(item.id)" class="text-slate-700 hover:text-error" %}
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  {% endwith %}
</div>
