<header class="bg-white shadow-sm sticky top-0 z-50 border-b border-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="h-[50px] flex justify-between items-center py-2">
      <div>
        <a href="/">
          <h1 class="text-2xl font-bold text-slate-800">Tra cứu hoá đơn 24/7</h1>
        </a>
      </div>
      <div class="flex items-center gap-2">
        <div class="text-md font-medium text-slate-700">Xin chào, <span class="text-blue-600">{{ user.username }}</span></div>
        <a href="/" title="Truy cập trang tra cứu">
          {% include "components/form/icon_button.html" with icon="components/icons/search.html" type="button" class="h-[40px] w-[40px] p-0 bg-none" %}
        </a>
        {% include "components/base/logout_button.html" %}
      </div>
    </div>
  </div>
</header>
