/* Font imports */
@font-face {
  font-family: 'Calibri';
  src: url('/static/fonts/calibril.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Calibri';
  src: url('/static/fonts/calibri.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('/static/fonts/calibrib.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('/static/fonts/calibrii.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('/static/fonts/calibriz.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* scroll */
  ::-webkit-scrollbar-thumb {
      border-radius: 9999px;
      --tw-bg-opacity: 1;
      background-color: rgb(115 115 115 / var(--tw-bg-opacity));
  }
  ::-webkit-scrollbar-track {
      border-radius: 9999px;
      --tw-bg-opacity: 1;
      background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  }
  ::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .hide-scrollbar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  /* gradient background animation */
  .gradient-bg {
    background: linear-gradient(
      to right bottom,
      #bfdbfe,
      #d8b4fe
    );
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  [x-cloak] {
    display: none !important;
  }
}
