name: Ruff Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14.2"
          cache: "pip"

      - name: Install dependencies
        run: pip install ruff

      - name: Run Ruff
        run: ruff check .
